@use "/src/variables" as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  color: var(--white);
  width: min-content;
  transition: background-color 0.1s linear;

  &.default {
    padding: 12px;
    background-color: var(--bg-grey);
  }

  &.circle {
    border-radius: 50%;
  }

  &.square {
    border-radius: 15px;

    @media (max-width: $mobile) {
      border-radius: 9px;
    }
  }

  &.brand {
    padding: 7px;
    background-color: var(--light-blue);
  }

  &:hover {
    &.default {
      background-color: var(--light-grey);
    }

    &.brand {
      background-color: var(--dark-blue);
    }
  }
}
