.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  // background-color: var(--bg-grey);
  transition: background-color .1s linear;
  
  &.default {
    padding: 12px;
    background-color: var(--bg-grey);
  }
  
  &.brand {
    padding: 7px;
    background-color: var(--light-blue);
  }

  &:hover {
    &.default {
      background-color: var(--light-grey);
    }
    
    &.brand {
      background-color: var(--dark-blue);
    }
  }
}

