:root {
  --white: rgba(255, 255, 255, 1);
  --bg-grey: rgba(245, 247, 250, 1);
  --light-grey: rgba(230, 239, 245, 1);
  --blue: rgba(113, 142, 191, 1);
  --medium-blue: rgba(139, 163, 203, 1);
  --dark-blue: rgba(52, 60, 106, 1);
  --light-blue: rgba(24, 20, 243, 1);
  --black: rgba(35, 35, 35, 1);
  --grey: rgba(177, 177, 177, 1);
}
