@mixin placeholder-styles {
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.15px;
  color: var(--medium-blue);
}

@mixin input-styles {
  font-size: 15px;
  font-weight: 400;
  line-height: 18.15px;
  color: var(--medium-blue);

  &::-webkit-input-placeholder {
    @include placeholder-styles;
  }

  &:-moz-placeholder {
    @include placeholder-styles;
  }

  &::-moz-placeholder {
    @include placeholder-styles;
  }

  &:-ms-input-placeholder {
    @include placeholder-styles;
  }
}