@use "/src/variables" as *;

.wrapper {
  position: relative;
  height: 130px;
  width: 130px;

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--bg-grey);
    overflow: hidden;
    height: 130px;
    width: 130px;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .button {
    position: absolute;
    right: -2px;
    bottom: 16px;

    .icon {
      width: 15px;
      height: 15px;
    }
  }

  @media (max-width: $mobile) {
    height: 170px;
    width: 170px;

    .avatar {
      height: 170px;
      width: 170px;
    }

    .button {
      right: -4px;
      bottom: 20px;
      padding: 10px !important;

      .icon {
        width: 19px;
        height: 19px;
      }
    }
  }
}
